<!DOCTYPE html>
<html>
    <head>
        <title>mc</title>
    </head>
    <body>
        
        <form method="POST">
            <label>Enter ticket:</label>
            <input type="name" name="name" placeholder="Enter your ticket" required><br/>
            <label>Enter price:</label>
            <input type="number" name="number" placeholder="Enter your ticket price" required><br/>
            <label>Enter venue</label>
            <input type="name" name="venue" placeholder="Enter your venue" required><br/>
            <input type = "submit" value = "submit"/><br/>
            </form>

    </body>